body {
  font-family: 'Poppins', sans-serif;
  color: #1a1a1a;
}
.bg-dark-green {
  background-color: #198754;
  color: white;
}
.bg-alternate {
  background-color: #015e00;
}
.hidden-offer {
  display: none !important;
}
