<section class="text-center py-3 counter bg-dark-green">
  <h3>Claim Your Discounted Natty Lean</h3>
  <h3 class="text-warning">Now While Supplies Last!</h3>
  <h2 class="countdown mb-0 fw-bolder">20:00</h2>
  <div class="trapezoid">
    <svg
      width="350"
      height="50"
      viewBox="0 0 400 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g transform="rotate(180, 200, 25)">
        <path
          d="
              M 80 0
              Q 70 0 60 10
              L 0 50
              L 400 50
              L 340 10
              Q 330 0 320 0
              Z"
          fill="#198754"
        />
      </g>
    </svg>
  </div>
</section>
