<section id="guarantee" class="py-5 text-center bg-alternate">
  <div class="container text-center">
    <div class="bg-white rounded-3 shadow-sm p-3 p-md-5">
      <img
        src="/assets/images/guarantee-badge.webp"
        alt="Guarantee Badge"
        class="mb-3 top-badge"
        loading="lazy"
      />
      <h3 class="fw-bold mb-3">
        100% Satisfaction or Your Money Back
        <br class="d-none d-md-block" /><span
          style="color: var(--primary-color)"
          >180-Day Guarantee</span
        >
      </h3>
      <p class="m-0">
        We're so confident you'll achieve incredible results that we back Natty
        Lean with a 100% satisfaction guarantee for 180 days. Start using it as
        soon as it arrives, and within days, you may notice an increase in
        energy, a clearer mind, and reduced cravings. As you continue your
        journey, you could start to see gradual weight loss and a reduction in
        stubborn fat, making it the perfect time to track your progress. If
        after several weeks or even months you're not completely satisfied,
        we'll refund your money in full. With Natty Lean, you're truly in
        control of your weight loss journey.
      </p>
      <div
        class="d-flex gap-2 flex-wrap align-items-center justify-content-center mt-4 badges"
      >
        <figure>
          <img src="/assets/images/gmo.webp" alt="Badge GMO" loading="lazy" />
        </figure>
        <figure>
          <img src="/assets/images/gmp.webp" alt="Badge GMP" loading="lazy" />
        </figure>
        <figure>
          <img
            src="/assets/images/nat.webp"
            alt="Badge Natural Ingredients"
            loading="lazy"
          />
        </figure>
        <figure>
          <img src="/assets/images/fda.webp" alt="Badge FDA" loading="lazy" />
        </figure>
      </div>
    </div>
  </div>
</section>
