<header class="d-flex justify-content-between align-items-center p-3 bg-white">
  <div class="d-flex align-items-center">
    <span class="fw-bold fs-4 logo"
      ><img
        src="/assets/images/logo.webp"
        alt="Natty Lean Logo"
        class="img-fluid"
        width="120"
        height="53"
    /></span>
  </div>

  <nav class="hidden-offer d-none d-md-flex gap-3">
    <a href="#guarantee" class="nav-link px-2">Guarantee</a>
    <a href="#faq" class="nav-link px-2">FAQ</a>
    <a href="#scientic-references" class="nav-link px-2"
      >Scientific References</a
    >
  </nav>
  <div class="d-flex align-items-center gap-2">
    <a href="#offers" class="hidden-offer btn btn-success d-none d-md-flex"
      >Order Now!</a
    >
    <button
      class="hidden-offer btn d-md-none"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
    >
      ☰
    </button>
  </div>
</header>

<div
  id="menu"
  class="hidden-offer d-md-none collapse bg-light p-0 d-md-none text-center"
>
  <a href="#guarantee" class="d-block p-2 border-bottom text-decoration-none"
    >Guarantee</a
  >
  <a href="#faq" class="d-block p-2 border-bottom text-decoration-none">FAQ</a>
  <a href="#scientic-references" class="d-block p-2 text-decoration-none"
    >Scientific References</a
  >
  <a href="#offers" class="btn btn-success mb-3">Order Now!</a>
</div>
