<section class="offers py-5 bg-white text-center mb-4">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div id="offer-2" class="col-12 col-md-4">
        <div class="card h-100 p-4 shadow-sm">
          <h4>2 Bottles Pack</h4>
          <img
            src="/img-2-bottles.webp"
            alt="2 Bottles"
            class="mx-auto mb-3"
            loading="lazy"
          />

          <ul class="list-unstyled text-start mx-auto">
            <li>60 Days Supply</li>
            <li>60 Days Guarantee</li>
            <li>Price per Bottle: $79</li>
            <li>20% Off</li>
            <li class="text-decoration-line-through">$358 Full</li>
            <li class="fw-bold">$158 Total</li>
            <li>$9.99 Shipping</li>
          </ul>
          <button
            class="btn btn-success mt-3 order-btn"
            data-bs-toggle="modal"
            data-bs-target="#orderModal"
            data-product="2 Bottles Pack"
            data-price="158"
            data-discount="20"
          >
            Order Now
          </button>
        </div>
      </div>

      <div id="offer-6" class="col-12 col-md-4 px-0">
        <div class="card h-100 p-4 shadow-lg border hightlight-offer">
          <h4>6 Bottles Pack</h4>
          <img
            src="/img-6-bottles.webp"
            alt="6 Bottles"
            class="mx-auto mb-3"
            loading="lazy"
          />
          <ul class="list-unstyled text-start mx-auto">
            <li>180 Days Supply</li>
            <li>60 Days Guarantee</li>
            <li>Price per Bottle: $49</li>
            <li>40% Off</li>
            <li class="text-decoration-line-through">$1074 Full</li>
            <li class="fw-bold">$294 Total</li>
            <li>Free Shipping</li>
          </ul>
          <button
            class="btn btn-success mt-3 order-btn"
            data-bs-toggle="modal"
            data-bs-target="#orderModal"
            data-product="6 Bottles Pack"
            data-price="294"
            data-discount="40"
          >
            Order Now
          </button>
        </div>
      </div>

      <div id="offer-3" class="col-12 col-md-4">
        <div class="card h-100 p-4 shadow-sm">
          <h4>3 Bottles Pack</h4>
          <img
            src="/img-3-bottles.webp"
            alt="3 Bottles"
            class="mx-auto mb-3"
            loading="lazy"
          />

          <ul class="list-unstyled text-start mx-auto">
            <li>90 Days Supply</li>
            <li>60 Days Guarantee</li>
            <li>Price per Bottle: $69</li>
            <li>25% Off</li>
            <li class="text-decoration-line-through">$537 Full</li>
            <li class="fw-bold">$207 Total</li>
            <li>Free Shipping</li>
          </ul>
          <button
            class="btn btn-success mt-3 order-btn"
            data-bs-toggle="modal"
            data-bs-target="#orderModal"
            data-product="3 Bottles Pack"
            data-price="207"
            data-discount="25"
          >
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="trapezoid">
    <svg
      width="350"
      height="43"
      viewBox="0 0 400 50"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g transform="rotate(0, 200, 25)">
        <path
          d="
                M 80 0
                Q 70 0 60 10
                L 0 50
                L 400 50
                L 340 10
                Q 330 0 320 0
                Z"
          fill="#198754"
        />
      </g>
    </svg>
  </div>
</section>
